auto {{ item.device }}
% if item.bootproto == 'manual' %}
iface {{ item.device }} inet manual
{% endif %}
{% if item.bootproto == 'static' %}
iface {{ item.device }} inet static
{% if item.address is defined %}
	address {{ item.address }}
{% endif %}
{% if item.netmask is defined %}
	netmask {{ item.netmask }}
{% endif %}
{% if item.gateway is defined %}
	gateway {{ item.gateway }}
{% endif %}
{% if item.dnsservers is defined %}
	dns-nameservers {% for i in item.dnsservers %}{{ i }} {% endfor %}

{% endif %}
{% if item.dnssearch is defined %}
	dns-search {{ item.dnssearch }}
{% endif %}
{% endif %}
{###}
{% if item.bootproto == 'dhcp' %}
iface {{ item.device }} inet dhcp
{% endif %}
{% if item.ports is defined %}
	bridge_ports {% for i in item.ports %}{{ i }} {% endfor %}
{% endif %}
{% if item.stp is defined %}
	bridge_stp {{ item.stp }}
{% endif %}
{% if item.mtu is defined %}
	mtu {{ item.mtu }}
{% endif %}
{###}
{% if item.route is defined %}
{% for i in item.route %}
up route add -net {{ i.network }}  netmask {{ i.netmask }} gw {{ i.gateway }} dev {{ item.device }}
{% endfor %}
{% endif %}
